@import url('https://fonts.googleapis.com/css?family=Lato&display=swap');
body{
    margin: 0;
    font-family: 'Lato', sans-serif;

}

header .container {

    display: flex;
    justify-content: space-between;

}

header .lista-menu{
    display: flex;
}

header .item-lista-menu{
    list-style: none;
    margin-right: 15px;
}

a{
    text-decoration: none;
}

.container{
    max-width: 1280px;
    width: 90%;
    margin: auto;
}

header{
    background: linear-gradient(rgba(196,89,83,.7),rgba(231,214,15,.7)), url(imagenes/tienda-abarrotes.jpg);
    height: 100vh;
    background-size: cover;
    
}

#contenedor-titulo-flex{
    display: flex;
    justify-content: center;
    margin: 18vh 0;
    max-width: 1580;
    width: 100%;
}

h1{
    font-size: 60px;
    color: #fff;
    margin: 0;
}

h2{
    font-size: 25px;
    color: #fff;
    text-align: center;
}

.container-title{
    text-align: center;
}

.container-title a, #nosotros a{
    font-size: 15px;
    color: #fff;
    background: #ded226;
    padding: 14px 24px;
    display: inline-block;
}

p.logo{
    font-size: 20px;
    color: #fff;
}

nav ul li a{
    color: #fff;
}

/* Seccion Nosotros */

h3{
    text-align: center;
    font-size: 55px;
    font-weight: normal;
}

#nosotros .imagen img{
    width: 600px;
    height: 400px;
}

#nosotros .container-nosotros{
display: flex;
justify-content: space-around;
}

#nosotros .texto{
    width: 42%;
    text-align: justify;
}

